.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 0;
}

.task-card {
    width: 100%;
    background-color: $card-background;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &__date-time {
        display: flex;
        flex-direction: column;
        min-height: 60px;
        text-align: right;
        justify-content: center;
    }

    &__time,
    &__date {
        white-space: nowrap;
        &:hover {
            color: $primary;
        }
    }

    &__date {
        // display: none;
        margin-top: 18px;
    }

    &:hover {
        .task-card__date {
            display: inline-block;
        }
    }

    .remove-button {
        margin-left: 32px;
    }
}
