//
// Fonts
//
// Import any fonts here, either locally or externally. For example:
//
// @import url("http://fonts.googleapis.com/css?family=Hind:400,700&subset=latin,latin-ext");
// @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
//

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Light.ttf');
    src: local('Rubik Light'), local('Rubik-Light'),
    url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
    src: local('Rubik Regular'), local('Rubik-Regular'),
    url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
    src: local('Rubik Medium'), local('Rubik-Medium'),
    url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-SemiBold.ttf');
    src: local('Rubik SemiBold'), local('Rubik-SemiBold'),
    url('../fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Bold.ttf');
    src: local('Rubik Bold'), local('Rubik-Bold'),
    url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-ExtraBold.ttf');
    src: local('Rubik ExtraBold'), local('Rubik-ExtraBold'),
    url('../fonts/Rubik/Rubik-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Black.ttf');
    src: local('Rubik Black'), local('Rubik-Black'),
    url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
